
.bg-container {
    text-align: center;
    height: 100vh;
    padding-top: 150px;
}

.button {
    height: 70px;
    width: 80px;
    border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

.btn1 {
    background-color: #e0e0e0;
}

.btn2 {
    background-color: #6fcf97;
}


.btn3 {
    background-color: #56ccf2;
}

.btn4 {
    background-color: #bb6bd9;
}

.para1 {
    text-align: center;
    padding-top: 10px;
    background-color: black;
    height: 60px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 8px;
    margin-right: 300px;
    margin-left: 300px;

}

.para2 {
    font-size: 18px;
}